<h1>Editing cursus</h1>

<% form_for(@cursus) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cursus %> |
<%= link_to 'Back', cursus_path %>