<table border="0" cellspacing="0" cellpadding="5" id="crud" class="blank">
 	<tr>
		<td><h1><%= @user.first_name %> <%= @user.last_name %>'s profile has been updated successfully.</h1></td>
	</tr>

	<tr>
		<td><a href="javascript: self.close()">Close</a></td>
	</tr>
</table>