<table border="0" cellspacing="0" cellpadding="5" id="crud">
	<tr>
		<%= render :partial => 'tab' %>
	</tr>
	<tr><td colspan="3"><span style=" margin-top:-3px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr>
		<tr><td class="title" style="vertical-align:top;">Cursus</td><td>
			<input type="text" name="some_name" value="" id="some_name"><input type="submit" name="some_name" value="Add Cursus" id="some_name">
			</td><td class="help"></td>
		</tr>
		<tr><td class="title" style="vertical-align:top;">Study Period</td><td>
			<select>
				<option disabled>Select a Cursus</option>
				<option>Master of Science — IT</option>
			</select>
			<input type="text" name="some_name" value="" id="some_name"><input type="submit" name="some_name" value="Add Study Period" id="some_name">
			</td><td class="help"></td>
		</tr>
		<tr><td class="title" style="vertical-align:top;">Course</td><td>
			<select>
				<option disabled>Select a Cursus</option>
				<option>Master of Science — IT</option>
			</select><select>
			<option disabled>Select a Study Period</option>
			<option>B1</option>
			<option>B2</option>
			<option>B3</option>
			<option>M1</option>
			<option>M2</option>
		</select>
			<input type="text" name="some_name" value="" id="some_name"><input type="submit" name="some_name" value="Add Course" id="some_name">
			</td><td class="help"></td>
		</tr>
		<tr><td colspan="3"><div style="border : solid 2px #999999 solid; background : rgba(255,255,255,0.5); color : #333333; width : 100%; height : 450px;overflow : auto; ">
			<table id="tree">
				<tr id="node-1">
			    	<td colspan="2">Master of Science – IT</td><td class="actions"><a href="">Delete</a></td>
			  	</tr>
			  	<tr id="node-1-1" class="child-of-node-1">
			    	<td colspan="2">B1</td><td class="actions"><a href="">Delete</a></td>
			  	</tr>
			 	<tr id="node-1-1-1" class="child-of-node-1-1">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-1-2" class="child-of-node-1-1">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-1-3" class="child-of-node-1-1">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-1-4" class="child-of-node-1-1">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-1-5" class="child-of-node-1-1">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-1-6" class="child-of-node-1-1">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-2" class="child-of-node-1">
					<td colspan="2">B2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-1-2-1" class="child-of-node-1-2">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-2-2" class="child-of-node-1-2">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-2-3" class="child-of-node-1-2">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-2-4" class="child-of-node-1-2">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-2-5" class="child-of-node-1-2">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-2-6" class="child-of-node-1-2">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-3" class="child-of-node-1">
					<td colspan="2">B3</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-1-3-1" class="child-of-node-1-3">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-3-2" class="child-of-node-1-3">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-3-3" class="child-of-node-1-3">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-3-4" class="child-of-node-1-3">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-3-5" class="child-of-node-1-3">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-3-6" class="child-of-node-1-3">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-4" class="child-of-node-1">
					<td colspan="2">M1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-1-4-1" class="child-of-node-1-4">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-4-2" class="child-of-node-1-4">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-4-3" class="child-of-node-1-4">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-4-4" class="child-of-node-1-4">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-4-5" class="child-of-node-1-4">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-4-6" class="child-of-node-1-4">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-5" class="child-of-node-1">
					<td colspan="2">M2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-1-5-1" class="child-of-node-1-5">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-5-2" class="child-of-node-1-5">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-5-3" class="child-of-node-1-5">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-5-4" class="child-of-node-1-5">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-5-5" class="child-of-node-1-5">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-1-5-6" class="child-of-node-1-5">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2">
					<td colspan="2">Master of Science – Biology</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-2-1" class="child-of-node-2">
					<td colspan="2">B1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-2-1-1" class="child-of-node-2-1">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-1-2" class="child-of-node-2-1">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-1-3" class="child-of-node-2-1">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-1-4" class="child-of-node-2-1">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-1-5" class="child-of-node-2-1">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-1-6" class="child-of-node-2-1">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-2" class="child-of-node-2">
					<td colspan="2">B2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-2-2-1" class="child-of-node-2-2">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-2-2" class="child-of-node-2-2">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-2-3" class="child-of-node-2-2">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-2-4" class="child-of-node-2-2">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-2-5" class="child-of-node-2-2">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-2-6" class="child-of-node-2-2">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-3" class="child-of-node-2">
					<td colspan="2">B3</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-2-3-1" class="child-of-node-2-3">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-3-2" class="child-of-node-2-3">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-3-3" class="child-of-node-2-3">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-3-4" class="child-of-node-2-3">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-3-5" class="child-of-node-2-3">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-3-6" class="child-of-node-2-3">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-4" class="child-of-node-2">
					<td colspan="2">M1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-2-4-1" class="child-of-node-2-4">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-4-2" class="child-of-node-2-4">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-4-3" class="child-of-node-2-4">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-4-4" class="child-of-node-2-4">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-4-5" class="child-of-node-2-4">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-4-6" class="child-of-node-2-4">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-5" class="child-of-node-2">
					<td colspan="2">M2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-2-5-1" class="child-of-node-2-5">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-5-2" class="child-of-node-2-5">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-5-3" class="child-of-node-2-5">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-5-4" class="child-of-node-2-5">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-5-5" class="child-of-node-2-5">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-2-5-6" class="child-of-node-2-5">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3">
					<td colspan="2">Master of Psychology</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-3-1" class="child-of-node-3">
					<td colspan="2">B1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-3-1-1" class="child-of-node-3-1">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-1-2" class="child-of-node-3-1">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-1-3" class="child-of-node-3-1">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-1-4" class="child-of-node-3-1">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-1-5" class="child-of-node-3-1">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-1-6" class="child-of-node-3-1">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-2" class="child-of-node-3">
					<td colspan="2">B2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-3-2-1" class="child-of-node-3-2">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-2-2" class="child-of-node-3-2">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-2-3" class="child-of-node-3-2">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-2-4" class="child-of-node-3-2">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-2-5" class="child-of-node-3-2">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-2-6" class="child-of-node-3-2">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-3" class="child-of-node-3">
					<td colspan="2">B3</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-3-3-1" class="child-of-node-3-3">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-3-2" class="child-of-node-3-3">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-3-3" class="child-of-node-3-3">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-3-4" class="child-of-node-3-3">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-3-5" class="child-of-node-3-3">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-3-6" class="child-of-node-3-3">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-4" class="child-of-node-3">
					<td colspan="2">M1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-3-4-1" class="child-of-node-3-4">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-4-2" class="child-of-node-3-4">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-4-3" class="child-of-node-3-4">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-4-4" class="child-of-node-3-4">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-4-5" class="child-of-node-3-4">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-4-6" class="child-of-node-3-4">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-5" class="child-of-node-3">
					<td colspan="2">M2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-3-5-1" class="child-of-node-3-5">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-5-2" class="child-of-node-3-5">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-5-3" class="child-of-node-3-5">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-5-4" class="child-of-node-3-5">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-5-5" class="child-of-node-3-5">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-3-5-6" class="child-of-node-3-5">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4">
					<td colspan="2">Master of Literature</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-4-1" class="child-of-node-4">
					<td colspan="2">B1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-4-1-1" class="child-of-node-4-1">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-1-2" class="child-of-node-4-1">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-1-3" class="child-of-node-4-1">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-1-4" class="child-of-node-4-1">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-1-5" class="child-of-node-4-1">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-1-6" class="child-of-node-4-1">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-2" class="child-of-node-4">
					<td colspan="2">B2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-4-2-1" class="child-of-node-4-2">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-2-2" class="child-of-node-4-2">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-2-3" class="child-of-node-4-2">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-2-4" class="child-of-node-4-2">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-2-5" class="child-of-node-4-2">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-2-6" class="child-of-node-4-2">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-3" class="child-of-node-4">
					<td colspan="2">B3</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-4-3-1" class="child-of-node-4-3">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-3-2" class="child-of-node-4-3">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-3-3" class="child-of-node-4-3">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-3-4" class="child-of-node-4-3">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-3-5" class="child-of-node-4-3">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-3-6" class="child-of-node-4-3">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-4" class="child-of-node-4">
					<td colspan="2">M1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-4-4-1" class="child-of-node-4-4">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-4-2" class="child-of-node-4-4">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-4-3" class="child-of-node-4-4">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-4-4" class="child-of-node-4-4">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-4-5" class="child-of-node-4-4">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-4-6" class="child-of-node-4-4">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-5" class="child-of-node-4">
					<td colspan="2">M2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-4-5-1" class="child-of-node-4-5">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-5-2" class="child-of-node-4-5">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-5-3" class="child-of-node-4-5">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-5-4" class="child-of-node-4-5">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-5-5" class="child-of-node-4-5">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-4-5-6" class="child-of-node-4-5">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5">
					<td colspan="2">Bachelor of Telecommunications</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-5-1" class="child-of-node-5">
					<td colspan="2">B1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-5-1-1" class="child-of-node-5-1">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-1-2" class="child-of-node-5-1">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-1-3" class="child-of-node-5-1">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-1-4" class="child-of-node-5-1">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-1-5" class="child-of-node-5-1">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-1-6" class="child-of-node-5-1">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-2" class="child-of-node-5">
					<td colspan="2">B2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-5-2-1" class="child-of-node-5-2">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-2-2" class="child-of-node-5-2">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-2-3" class="child-of-node-5-2">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-2-4" class="child-of-node-5-2">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-2-5" class="child-of-node-5-2">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-2-6" class="child-of-node-5-2">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-3" class="child-of-node-5">
					<td colspan="2">B3</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-5-3-1" class="child-of-node-5-3">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-3-2" class="child-of-node-5-3">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-3-3" class="child-of-node-5-3">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-3-4" class="child-of-node-5-3">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-3-5" class="child-of-node-5-3">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-3-6" class="child-of-node-5-3">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-4" class="child-of-node-5">
					<td colspan="2">M1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-5-4-1" class="child-of-node-5-4">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-4-2" class="child-of-node-5-4">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-4-3" class="child-of-node-5-4">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-4-4" class="child-of-node-5-4">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-4-5" class="child-of-node-5-4">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-4-6" class="child-of-node-5-4">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-5" class="child-of-node-5">
					<td colspan="2">M2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-5-5-1" class="child-of-node-5-5">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-5-2" class="child-of-node-5-5">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-5-3" class="child-of-node-5-5">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-5-4" class="child-of-node-5-5">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-5-5" class="child-of-node-5-5">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-5-5-6" class="child-of-node-5-5">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6">
					<td colspan="2">MBA</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-6-1" class="child-of-node-6">
					<td colspan="2">B1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-6-1-1" class="child-of-node-6-1">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-1-2" class="child-of-node-6-1">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-1-3" class="child-of-node-6-1">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-1-4" class="child-of-node-6-1">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-1-5" class="child-of-node-6-1">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-1-6" class="child-of-node-6-1">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-2" class="child-of-node-6">
					<td colspan="2">B2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-6-2-1" class="child-of-node-6-2">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-2-2" class="child-of-node-6-2">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-2-3" class="child-of-node-6-2">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-2-4" class="child-of-node-6-2">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-2-5" class="child-of-node-6-2">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-2-6" class="child-of-node-6-2">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-3" class="child-of-node-6">
					<td colspan="2">B3</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-6-3-1" class="child-of-node-6-3">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-3-2" class="child-of-node-6-3">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-3-3" class="child-of-node-6-3">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-3-4" class="child-of-node-6-3">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-3-5" class="child-of-node-6-3">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-3-6" class="child-of-node-6-3">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-4" class="child-of-node-6">
					<td colspan="2">M1</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-6-4-1" class="child-of-node-6-4">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-4-2" class="child-of-node-6-4">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-4-3" class="child-of-node-6-4">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-4-4" class="child-of-node-6-4">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-4-5" class="child-of-node-6-4">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-4-6" class="child-of-node-6-4">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-5" class="child-of-node-6">
					<td colspan="2">M2</td><td class="actions"><a href="">Delete</a></td>
				</tr>
				<tr id="node-6-5-1" class="child-of-node-6-5">
				    <td colspan="2">IT Law</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-5-2" class="child-of-node-6-5">
				    <td colspan="2">Management</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-5-3" class="child-of-node-6-5">
				    <td colspan="2">IBM Mainframe</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-5-4" class="child-of-node-6-5">
				    <td colspan="2">ASP.net</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-5-5" class="child-of-node-6-5">
				    <td colspan="2">Microsoft Exchange 2007</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
				<tr id="node-6-5-6" class="child-of-node-6-5">
				    <td colspan="2">Java EE2</td><td class="actions"><a href="javascript:popUp('popup-manage-cursus-modalities.html')">Manage Modalities</a> or <a href="">Delete</a></td>
				</tr>
			</table>
		</div></td></tr>
</table>
