<table border="0" cellspacing="0" cellpadding="5" id="crud">
	<tr>
		<%= render :partial => 'tab' %>
	</tr>	
	<tr><td colspan="3"><span style=" margin-top:-3px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr>
	<tr><td class="title" style="vertical-align:top;">Name</td><td>
				<input type="text" name="some_name" value="Globus University" id="some_name"><span class="help">Type the name of the university</span>
			</td><td class="help"></td>
		</tr>
		<tr><td class="title" style="vertical-align:top;">Domain</td><td>
			<input type="text" name="some_name" value="http://tte.globus.edu" id="some_name"><span class="help"><a href="">Click here to learn how to link TimeTableEasy to your domain</a></span>
			</td><td class="help"></td>
		</tr>
			<tr><td colspan="3"><span style="padding-bottom:5px; margin-bottom:5px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr>
		<tr><td colspan="3">
			<table border="0" cellspacing="0" cellpadding="0" id="prices">
				<tr><td colspan="2"></td><td id="bigdeal_top">People ♥ this plan</td><td></td></tr>
				<tr class="ct top"><td class="left">Ad Infinitum</td><td>Carpe Diem</td><td id="bigdeal">Ad Hoc</td><td class="right">Free</td></tr>
				<tr class="ct bold"><td>$399/months</td><td>$149/months</td><td id="bigdeal">$99/months</td><td>Free</td></tr>
				<tr class="ct"><td>Unlimited Students</td><td>100,000 Students</td><td id="bigdeal">50,000 Students</td><td>6,000 Students</td></tr>
				<tr class="ct"><td>Unlimited Teachers</td><td>10,000 Teachers</td><td id="bigdeal">5,000 Teachers</td><td>600 Teachers</td></tr>
				<tr class="ct"><td>Unlimited Campus</td><td>40 Campus</td><td id="bigdeal">20 Campus</td><td>3 Campus</td></tr>
				<tr class="ct bottom"><td class="left"><input type="radio" name="choice" value="adinfinitum" id="ad"></td><td><input type="radio" name="choice" value="" id="carpediem" checked></td><td id="bigdeal"><input type="radio" name="choice" value="" id="adhoc" ></td><td class="right"><input type="radio" name="choice" value="" id="free"></td></tr>
					<tr><td colspan="2" style="text-align:left;"><a href="">Click here</a> to change your payment method</td><td id="bigdeal_bottom">&#160;</td><td></td></tr>
			</table>
		</td>
		</tr>
		<tr><td colspan="3"><span style="padding-bottom:5px; margin-bottom:5px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr><tr><td class="title" style="vertical-align:top;"></td><td>
			<input type="submit" name="Save" value="Save" id="Save"> or <a href="/">Cancel</a>
			</td><td class="help"></td>
		</tr>
</table>