<td class="title"></td><td>
	<ul id="tabs">
		<li><a href="/events/new/university" class="<%= @tab_university %>">University</a></li>
		<li><a href="/events/new/campus" class="<%= @tab_campus %>">Campus</a></li>
		<li><a href="/events/new/class" class="<%= @tab_class %>">Class</a></li>
		<li><a href="/events/new/personal" class="<%= @tab_personal %>">Personal</a></li>
	</ul>
</td>
<td class="help"></td>