<td class="title"></td><td>
	<ul id="tabs">
		<li><a href="new_event-university.html" class="active">University</a></li>
		<li><a href="new_event-campus.html">Campus</a></li>
		<li><a href="new_event.html">Class</a></li>
		<li><a href="new_event-personal.html">Personal</a></li>
	</ul>
</td><td class="help"></td>