<h1>Listing study_periods</h1>

<table>
  <tr>
  </tr>

<% @study_periods.each do |study_period| %>
  <tr>
    <td><%= link_to 'Show', study_period %></td>
    <td><%= link_to 'Edit', edit_study_period_path(study_period) %></td>
    <td><%= link_to 'Destroy', study_period, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New study_period', new_study_period_path %>