<div id="topbar">
	<div id="title">
		<img src="/images/eva_g.png" width="16" height="58" alt="Eva G"><span class="center"><div id="CalendarTitle" style="display:inline"><%= @title %></div></span><img src="/images/eva_d.png" width="16" height="58" alt="Eva D">
	</div>
</div>

<div id="content">
	<div id="content-inner">
		<div id="events">
			<p>
			  <b>Name:</b>
			  <%=h @courses.name %>
			</p>

			<p>

			<%= link_to 'Back', courses_path %>
		</div>
		<%= render :partial => 'events/sidebar' %>
		</div>
	</div>
</div>



