<div id="topbar">
		<ul id="view_selector">
			<% if @display_calendar %>
				<li><a href="#" class="right" id="next"><img src="/images/ra.png" width="7" height="14" alt="Ra"></a></li>
				<li><a href="#" class="center" id="month">Monthly</a></li>
				<li><a href="#" class="center " id="agendaWeek">Weekly</a></li>
				<li><a href="#" class="center" id="agendaDay">Daily</a></li>
				<li><a href="#" class="center" id="today"><img src="/images/today.png" width="14" height="14" alt="Today"></a></li>
				<li><a href="#" class="left" id="prev"><img src="/images/la.png" width="7" height="14" alt="La"></a></li>
			<% else %>
			<% if @current_user %>
				<li>
					<a href="/" class="alone" id="home">
						<img src="/images/today.png" width="14" height="14" alt="Today"> Home
					</a>
				</li>
				<% end %>
			<% end %>
		</ul>
		<div id="title">
			<img src="/images/eva_g.png" width="16" height="58" alt="Eva G"><span class="center"><div id="CalendarTitle" style="display:inline"><%= @title || 'TimeTableEasy' %></div></span><img src="/images/eva_d.png" width="16" height="58" alt="Eva D">
		</div>
</div>