<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>TimeTableEasy</title>
	<%= stylesheet_link_tag "styles_popup" %>

</head>

<body>
	<div id="container">
		<div id="container-inner">
			<div id="header">
				<%= @title %>
			</div>
			<div id="content"><br/>
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
